/Users/albert.lin/Desktop/MSc/Courses/Dissertation/code/catchypass-prod/worker/data/catchypass/trained_model/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
worker/data/catchypass/keyword_pairs/keyword_result.csv filter=lfs diff=lfs merge=lfs -text
worker/data/catchypass/keyword_pairs/keyword_result.txt filter=lfs diff=lfs merge=lfs -text
